@import "../../style/settings.scss";

.page {
  width: 100%;
  background-color: $bg-gray-dark;
}

.header {
  display: flex;
  flex-direction: column;
  width: 144rem;
  height: 32rem;
  margin: auto;
  background: linear-gradient(90deg, rgba(27,30,38,0.82) 0%, rgba(13,13,13,0) 100%),
  url('../../assets/dojo_pics/event-page-bg.jpg') no-repeat;
  background-size: cover;

  &__content {
    padding: 2.4rem 12rem;
    height: 24.7rem;
    position: relative;
  }

  &__path {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: $color-white;
    height: 2rem;
    width: 6.8rem;
  }

  &__path-link {
    text-decoration: none;
    color: $color-blue;
  }

  &__title {
    margin: 1.5rem 0 0.8rem 0;
    width: 65.2rem;
    color: $color-white;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 6.4rem;
  }

  &__online-status {
    position: absolute;
    bottom: 2.8rem;
  }
}

.separator {
  color: $color-white;
  margin: 0 0.7rem;
}

.event-information {
  width: 100%;
  height: 7.3rem;
  display: flex;
  padding: 0 12rem;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
}

.information-nav {
  display: flex;
  justify-content: space-between;
  width: 120rem;
}

.widget {
  display: flex;
  align-items: center;
  
  &__date {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
  }

  &__city {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
  }

  &__skills {
    color: $bg-blue;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
  }
}

.number {
  color: $color-green;
  margin-left: 0.9rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.title-city {
  display: inline-block;
  margin-left: 0.9rem;
  color: $color-white;
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.5rem;
}

.event__information > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 0.2rem solid $background-color;
  height: 8rem;
  width: 30%;
}

.information {
  &__share {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__bookmark-icon {
    margin: 0 0.8rem
  }
}
