@import "../../style/settings.scss";

.page {
  width: 100%;
  background-color: $bg-gray-dark;
}

.header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 320px;
  margin: auto;
  background: linear-gradient(90deg, rgba(27,30,38,0.82) 0%, rgba(13,13,13,0) 100%),
  url('../../assets/dojo_pics/event-page-bg.jpg') no-repeat;
  background-size: cover;

  &__content {
    padding: 24px 120px;
    height: 247px;
  }

  &__path {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: $color-white;
    height: 20px;
    width: 68px;
  }

  &__path-link {
    text-decoration: none;
    color: $color-blue;
  }

  &__path-separator {
    margin: 0 7px;
  }

  &__title {
    margin: 15px 0 8px 0;
    width: 652px;
    color: $color-white;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
  }
}

.event-information {
  width: 100%;
  height: 73px;
  display: flex;
  padding: 0 120px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.49);
}

.information-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
}

.widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  &__date {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  &__city {
    display: flex;
    align-items: center;
    margin-right: 25px;
  }

  &__skills {
    color: $bg-blue;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
  }
}

.number {
  color: $color-green;
  margin-left: 9px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.title-city {
  display: inline-block;
  margin-left: 9px;
  color: $color-white;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
}

.event__information > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-right: 2px solid $background-color;
  height: 80px;
  width: 30%;
}

.information__share {
  display: flex;
  align-items: center;
  cursor: pointer;
}
