// BACKGROUND-COLOR
$bg-gray: #303644;
$bg-gray-dark: #252934;
$bg-green: #00B504;
$bg-green-light: #4CB134;
$bg-black: #000000;
$bg-black-light: #191C25;
$bg-blue: #0084EA;
$bg-blue-light: #2184E3;
$bg-light-blue: #00C5DA;
// FONT-COLOR
$color-green: #4CB134;
$color-white: #FFFFFF;
$color-white-dark: #D4D4D4;
$color-blue: #0084EA;
$color-blue-light: #2184E3;
$color-gray: #BFC3CE;
$color-gray-1: #959595;
$color-gray-2: #989898;
$color-gray-3: #999999;



//refactor all down
$background-color: #252934;

// FONT-COLOR
$beige: #ffeccc;
$orange: #f4b33a;
$white: white;
$grey:#d7dde2;
$green: #d3fbd8;
$red: #ffa39e;
$green-light: #35bd9a;
$grey-2: #556776;
$grey-light: #CCCCCC;

// SPECIFIC
$locked-game-color: rgba(71, 86, 98, 0.2);
$unlocked-game-color:rgba(71, 86, 98, 0.79);
$unactive-link-color: #888e93;
$nav-color: #313c45;
$btn-font-size: 1.5rem;
$top-border-unactive-game: #666666;

$locked-footer-color: rgba(85, 103, 118, 0.2);

$nav-height: 8rem;
$space-between-nav-and-content: 0rem;

// FONT-SIZE
$medium-font: 1.4rem;
$medium-font-2: 2rem;
$big-font: 2.6rem;
$big-font-2: 4rem;
$icon-font: 7rem;

// MEDIA BreakPoint
$media-types: (
    extra-small-range: '(max-width: 499px)',
    small-range: '(min-width: 500px) and (max-width: 959px)',
    medium-range: '(min-width: 960px) and (max-width: 1279px)',
    large-range: '(min-width: 1280px) and (max-width: 1919px)',
    extra-large-range: '(min-width: 1920px)'
);
