@import '../../style/settings.scss';

.app-menu__profile {
  display: flex;
  padding: 1.6rem;
  border-radius: 0.4rem 0.4rem 0 0;
  background-color: $bg-gray;
  min-width: 25rem;

  & + ul {
    background: $bg-gray;
    li > div { padding: 0; }
  }

  &-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0.3rem;
    margin-right: 1.4rem;
  }

  &-text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-name, &-email {
    font-family: 'Source Sans Pro';
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &-name {
    font-size: 1.6rem;
  }
}
