@import "../../../style/settings.scss";

.ca-checkbox {
  label {
    margin: 0;
    height: 4rem;
    min-width: min-content;
    width: max-content;
    display: flex;
    justify-content: space-between;

    span:first-child {
      height: 2.4rem;
      width: 2.4rem;
      border-radius: 0.4rem;

      svg {
        height: 3.4rem;
        width: 3.4rem;
      }
    }

    span:last-child {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.4rem;
      color: $color-gray;
    }
  }
}

.checked {
  svg { path:last-child { color: $color-green; } }
  span:first-child { background: $color-white; }
}

.unchecked { 
  svg { path:first-child { opacity: 0; } }
  span:first-child { background: $bg-gray-dark; }
  span:last-child { border: 0.1rem solid $color-gray; }
}
