@import "../../style/settings.scss";

.ca-about_card {
  margin: 32px;
  width: 276px;
  height: 315px;
  background: $bg-gray;
  border-radius: 6px;
  cursor: pointer;

  &_img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      width: 100%;
      height: 152px;
      position: relative;
      background: url(https://thehustle.co/wp-content/uploads/2017/11/wework-buys-meetup.jpg);

      &-bookmark {
          position: absolute;
          top: 8px;
          right: 8px;
      }
  }

  &_information {
      display: flex;
      flex-direction: column;
      padding: 16px;

      &_title {
        color: $color-white;
        font-size: 20px;
        font-weight: 600;
        line-height: 25px;
        padding-bottom: 12px;
        height: 50px;
      }

      &_date {
        &-number {
            color: $color-green;
            display: inline-block;
            padding-left: 8px;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
        }
      }

      &_city {
        padding-top: 8px;
          &-title {
            display: inline-block;
            padding-left: 8px;
            color: $color-white;
            font-size: 14px;
            font-weight: 200;
            line-height: 18px;
          }
      }

      &_skills {
        color: $bg-blue;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-top: 9px;
      }
  }
}