@import "../../style/settings.scss";

.event-card {
  width: 27.6rem;
  height: 31.5rem;
  background: $bg-gray;
  border-radius: 0.6rem;
  cursor: pointer;

  &__img {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    width: 100%;
    height: 15.2rem;
    position: relative;
    background: url(https://thehustle.co/wp-content/uploads/2017/11/wework-buys-meetup.jpg);
  }

  &__bookmark-icon {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
  }

  &__online-status {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    box-sizing: border-box;
  }

  &__title {
    color: $color-white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    padding-bottom: 1.2rem;
    min-height: 5rem;
  }

  &__date-info {
    display: flex;
    align-items: center;
  }

  &__date {
    color: $color-green;
    display: inline-block;
    padding-left: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
  }

  &__location-info {
    padding-left: 0.2rem;
    padding-top: 0.8rem;
    display: flex;
    align-items: center;
  }

  &__location {
    display: inline-block;
    padding-left: 1.1rem;
    color: $color-white;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.8rem;
  }

  &__skills {
    color: $color-blue;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding-top: 0.9rem;
  }
}

.comma { color: $color-white; }
