@import "../../style/settings.scss";
@import "../../style/_mixins.scss";

.ca-navbar {

  &__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: $nav-height;
    color: $white;
    font-size: 1.8rem;
    background-color: $bg-gray;
  }

  &__items-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__nav-item {
    @include resetLink($unactive-link-color);
    margin: 0 2.3rem;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
  }

  &__nav-item--active {
    color: $white;
  }

  &__menu-container {
    margin-left: auto;
    margin-right: 4rem;
    display: flex;
  }

  &__select-language {
    width: 80px;
    margin-left: 20px;
  }

  &__profile-name {
    display: flex;
    align-items: center;
  }

  .user-buttons {
    order: 1;
  }
}


@media(max-width: 800px) {
  .ca-navbar {
    &__nav-item:last-child {
      display: none;
    }
  }
}
@media(max-width:320px) {
  .ca-navbar {
    &__items-container {
      width: auto;
      margin-left: 1rem;
    }

    &__nav-item {
      margin: .5rem;
    }

    &__menu-container {
      margin-left: 0;
      }

    &__select-language {
      width: 65px;
      margin-left: 16px;
    }
  }
}
@include respond-to(extra-small-range) {
  .ca-navbar {
    &__profile-name {
      display: none;
    }
  }
}
