@import "../../style/settings.scss";
@import "../../style/_mixins.scss";

.ca-navbar {
  background-color: $bg-gray;
  &__container {
    display: flex;
    height: $nav-height;
    color: $color-white;
    font-size: 1.8rem;
    width: 1440px;
    margin: 0 auto;
  }

  &__items-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 0 120px;
  }

  &__nav-item {
    @include resetLink($unactive-link-color);
    margin: 0 2.3rem;
    font-size: 1.6rem;
    color: $color-white;
    cursor: pointer;
    transition: all .3s;
  }

  &__nav-item--active {
    color: $white;
  }

//   &__select-language {
//     width: 80px;
//     margin-left: 20px;
//   }

  &__profile-name {
    display: flex;
    align-items: center;
  }

  &__menu-container {
    order: 1;
  }
}


@media(max-width: 800px) {
  .ca-navbar {
    &__nav-item:last-child {
      display: none;
    }
  }
}
@media(max-width:320px) {
  .ca-navbar {
    &__items-container {
      width: auto;
      margin-left: 1rem;
    }

    &__nav-item {
      margin: .5rem;
    }

    &__menu-container {
      margin-left: 0;
    }

    &__select-language {
      width: 65px;
      margin-left: 16px;
    }
  }
}
@include respond-to(extra-small-range) {
  .ca-navbar {
    &__profile-name {
      display: none;
    }
  }
}
