@import "../../style/settings.scss";

.ca-control-panel {
  display: flex;
  padding: 3.2rem 0;

  &__heading {
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9rem;
    margin-bottom: 0.8rem;
  }

  &__technology {
    width: 50.5rem;
  }

  &__pickers {
    width: 28.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__separator {
    width: 0.5rem;
    color: $color-gray;
    margin: 0 0.5rem;
  }

  &__checkbox-container {
    width: 16rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.test {
  color: $color-white;
}

.ca-control-panel > div { margin-right: 1.6rem; }
.ca-control-panel div:last-child { margin-right: 0; }
