@import "../../style/settings.scss";

.ca-control-panel {
  display: flex;
  padding: 32px 0;

  &__heading {
    color: $color-white;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 8px;
  }

  &__pickers {
    width: 287px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__separator {
    width: 5px;
    color: $color-gray;
    margin: 0 5px;
  }

  &__checkbox-container {
    width: 160.94px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.test {
  color: white;
}

.ca-control-panel > div { margin-right: 16px; }
.ca-control-panel div:last-child { margin-right: 0; }
