
@import "../../style/main.scss";
@import "fonts.scss";

html {
  font-size: 62.5%;
}

body {
  overflow-y: scroll;
  font-size: 1.6rem;
  background-color: $bg-gray-dark;
  /* margin-top: $nav-height +  $space-between-nav-and-content; */
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;

  .MuiModal-root-57 {
    div:last-child {
      margin-top: 1.2rem;
      margin-left: -1.3rem;

      ul {
        min-width: 20rem;
        width: max-content;
      }
    }
  }
}

.ca-global-fadeIn {
  animation: fadeIn 1s;
}

.ca-nav-children-container-right {
  justify-self: right;  
}
@media(max-width:800px){
  
}
