@import '../../style/settings.scss';

.events-page {
  width: 100%;
  font-family: 'Source Sans Pro';

  &__content {
    position: relative;

    .tabs {
      width: 120rem;
      margin: auto;
    }

    .tabs > div > div > div > button {
      margin-bottom: 0;
    }
  }

  &__line {
    width: 100%;
    border-bottom: 1px solid $bg-gray-dark-1;
    position: absolute;
    top: 8.7rem;
  }
}

.btn-wrapper {
    width: 120rem;
    height: 4rem;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.btn-container {
  position: absolute;
//   width: max-content;
  margin: auto;
  top: 2.4rem;
  z-index: 1;
}
