@import '../../../style/settings.scss';

.ca-select {
  height: 4rem;
  width: 20rem;
  padding: 0;
  border-radius: 0.4rem;
  background-color: $bg-gray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    span { display: none; }
  }

  &__item:hover {
    color: $color-gray-1;
  }

  &__item { background: green;}
}

.ca-select > div {
  height: 100%;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  color: $color-gray;
}

.ca-select > div > svg {
  background: url('../../../assets/svg/icon-path--down.svg') no-repeat;
  background-position: right center;
  margin-right: 1.3rem;
}

.ca-select > div > div {
  padding: 0 0 0 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.ca-select > div > svg > path { display: none; }
.ca-select > div > div:focus { background: none; }
