@import '../../../style/settings.scss';

.container {
  height: 4rem;
  width: 13.6rem;
  padding: 1.1rem 1.5rem 1.1rem 1.3rem;
  border-radius: 0.4rem;
  background-color: $bg-gray;
  box-sizing: border-box;
}

.ca-datePicker {
  height: 100%;
  width: 11.2rem;
  background: url('../../../assets/svg/icon-calendar.svg') no-repeat;
  background-position: right center;

  input {
    padding: 0;
    color: $color-gray;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
