@import "../../style/settings.scss";


.landing {
  height: 100%;
  &__container {
    height: 520px;
    background: url('../../assets/dojo_pics/10_optimized.jpg');
    background-position: left 63%;
    font-weight: 500;
  }

  &__title {
    width: 435px;
    height: 128px;
    color: #fff;
    padding: 10rem 0 0 12rem;
  }

  &__title-text {
    font-size: 56px;
    line-height: 64px;
  }

  &__title-description {
    width: 350px;
    height: 60px;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: normal;
    line-height: 20px;
  }
}

@media (max-width: 599.95px) {
  .ca-landing__register-btn {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}