@import "../../style/settings.scss";


.landing {
  height: 100%;
  width: 144rem;
  margin: auto;
  &__container {
    height: 52rem;
    background: url('../../assets/dojo_pics/10_optimized.jpg');
    background-position: left 63%;
    font-weight: 500;
  }

  &__title {
    width: 43.5rem;
    height: 12.8rem;
    color: $color-white;
    padding: 10rem 0 0 12rem;
  }

  &__title-text {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }

  &__title-description {
    width: 35rem;
    height: 6rem;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: normal;
    line-height: 2rem;
  }

  &__event-section {
    background-color: $background-color;
  }

  &__event-description {
    color: $color-white;
  }

  &__practice-event {
    margin: 0 auto;
    padding: 5.6rem 0 2.4rem 0;
    width: 30.6rem;
    height: 3rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  &__event-motivation {
    margin: 0 auto;
    width: 48rem;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2rem;
    letter-spacing: normal;
  }

  &__event-motivation--center {
    display: inline-block;
    text-align: center;
  }

  &__event-card-section {
    margin: 4rem auto 0;
    width: 120rem;
    display: flex;
    justify-content: space-between;
  }

  &__event-btn {
    width: min-content;
    min-width: 15.2rem;
    margin: 4rem auto;
  }

  &-banner {
    &__heading {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 5.6rem;
      font-weight: 600;
      line-height: 6.4rem;
      color: $color-white;
    }

    &__event-banner {
      height: 52rem;
      padding: 9.8rem 12rem 0 12rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background: url(../../assets/dojo_pics/background1.jpg) 100% 100% no-repeat;
      background-size: cover;
    }

    &__event-heading-container {
      height: 12.8rem;
      width: 55.1rem;
      text-align: right;
    }

    &__description-container {
      width: 39.7rem;
      height: 2rem;
      margin: 2.4rem 0;
      text-align: right;
    }

    &__description {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $color-white;
    }

    &__programming-banner {
      padding: 14rem 19.1rem 12.7rem 19.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: url(../../assets/dojo_pics/background2.jpg) 100% 100% no-repeat;
      background-size: cover;
    }

    &__programming-heading-container {
      height: 12.8rem;
      width: 60.1rem;
      text-align: center;
    }

    &__icons-container {
      margin-top: 5.5rem;
      width: 105.9rem;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 59.9rem) {
  .ca-landing__register-btn {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}