@import "../../style/settings.scss";

.hide { display: none; }

.chips-form {
  margin-top: 0.4rem;
  height: 23.2rem;
  overflow-y: auto;
  width: 100%;
  background-color: $bg-gray;
  box-shadow: 0 1px 15px 0 rgba(0,0,0,0.5);
  padding: 0.9rem 1.6rem 1.6rem 1.6rem;
  box-sizing: border-box;
  border-radius: 0.4rem;

  &__checkboxes {
    border-top: 0.1rem solid $bg-gray-dark;
    padding-top: 1.3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__checkbox {
    width: 50%;
    height: max-content;
  }
}